<a href="https://colab.research.google.com/github/lover-swan/project2_2/blob/main/model/baseline_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_pickle('/content/drive/MyDrive/project2_2/target_data1.pkl')

In [4]:
test=pd.read_pickle('/content/drive/MyDrive/project2_2/svd_electronic_pred.pkl')

In [6]:
data=data[['user_id','product_id','target']]
data.columns=['uid','iid','rui']
data

                uid       iid  rui
0         554748717   3900821    0
1         550050854   1307067    0
2         535871217   1004237    0
3         512742880   1480613    0
4         537918940   1004545    0
...             ...       ...  ...
12979217  557202408   1005008    0
12979218  553802615  21408491    0
12979219  518956209   1004870    0
12979220  524356542   2702331    0
12979221  537931532   2300275    0

[12979222 rows x 3 columns]

In [8]:
test=test[['uid','iid','rui']]
test

               uid      iid  rui
0        566280697  2300307    0
1        566280399  4804695    0
2        566280399  4802888    0
3        566280399  4803186    0
4        566280291  1005134    0
...            ...      ...  ...
2595840  240522111  4804055    0
2595841  239475080  3100198    0
2595842  236306098  1005105    0
2595843  224520397  8800028    0
2595844  209714031  8700583    0

[2595845 rows x 3 columns]

In [9]:
data=pd.concat([data,test])

In [11]:
data=data[~data.duplicated(keep=False)]

In [13]:
X=data[['uid','iid']]
y=data[['rui']]
X_test=test[['uid','iid']]
y_test=test[['rui']]

In [14]:
line_fitter = LinearRegression()
line_fitter.fit(X, y)
pred=line_fitter.predict(X_test)

In [15]:
test['est']=pred

In [16]:
def sort(df):
  df=df.sort_values(by=['uid','est'],ascending=False)
  df=df[['uid','iid','rui','est']].reset_index(drop=True)
  return df

In [17]:
sorted_df=sort(test)

In [18]:
sorted_df

               uid      iid  rui       est
0        566280697  2300307    0  0.153523
1        566280399  4802888    0  0.142338
2        566280399  4803186    0  0.142337
3        566280399  4804695    0  0.142330
4        566280291  1005134    0  0.159311
...            ...      ...  ...       ...
2595840  240522111  5100565    0 -0.019638
2595841  239475080  3100198    0 -0.011214
2595842  236306098  1005105    0 -0.003414
2595843  224520397  8800028    0 -0.044062
2595844  209714031  8700583    0 -0.050919

[2595845 rows x 4 columns]

In [19]:
sorted_df.to_pickle('/content/drive/MyDrive/project2_2/model/baseline_pred.pkl')